# Node.js dependencies
node_modules/

# Optional npm cache directory
.npm/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
coverage/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage
coverage/
.nyc_output/

# PM2 logs
pids/
*.pid
*.seed
*.pid.lock

# Misc
*.tgz
debug.log
